{#
    This template is shown to users less than one day old, on the home page
#}

<div class="well">
    <p>Welcome to wank.party, {{ user.username }}. Here's everything you need to know.</p>
    <ol>
        <li>All uploads are visible to the public. Only members may upload.</li>
        <li>Do not upload child porn or malware, you'll be banned without mercy.</li>
        {% if _cfg("donation-page") == "yes" %}
        <li>All users are expected to <a href="/donate">donate</a> if they have the means.</li>
        {% endif %}
        {% if _cfg("resources-page") == "yes" %}
        <li>Some extra stuff is provided for members, <a href="/resources">full list here</a>.</li>
        {% endif %}
    </ol>
    <p>This message goes away tomorrow. Enjoy your stay and keep praising Karpet.</p>
</div>
<hr />
