{% extends "layout.html" %}
{% block body %} 
<script>
window.api_key = "{{ user.apiKey }}";
window.root = "{{ root }}";
</script>
<div class="text-center">
    <h1>wank.party services</h1>
    <h4 class="text-muted">Extra services and resources for you</h4>
</div>
<hr />
<div class="text-center">
    <h3>Third Party Integrations</h3>
    <p>wank.party offers OAuth to allow users to create new things for other members to use. (Broken, no idea how to fix.)</p>
    <p><a href="/oauth/tokens">Manage Client Authorizations</a> &mdash; <a href="/oauth/clients">Register and Manage Clients</a></p>
    <!--<p>If you make something neat, <a href="mailto:{{owner_email}}">let me know</a> and I'll feature it here.</p>-->
    <h3>Bash script</h3>
    <p>You can upload to wank.party with our <a href="/script">bash script</a>.</p>
    <h3>Android app</h3>
    <p>You can use the <a href="https://play.google.com/store/apps/details?id=io.github.wiiam.srhtandroid">sr.ht Android app</a>, just make sure to change the server domain.</p>
</div>
{% endblock %}
