body {
    background: white;
}

nav {
    position: fixed;
    left: 5px;
    bottom: 5px;
}

.moe {
    position: fixed;
    bottom: 0;
    right: 20px;
    max-width: 200px;
    min-width: 100px;
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

.container {
    width: 600px;
    max-width: 100%;
    position: relative;
    z-index: 1;
}

.modal-backdrop {
    z-index: 10;
}

.modal {
    z-index: 11;
}

.table {
    table-layout: fixed;

    td {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.upload {
    margin-bottom: 20px;
    margin-top: 20px;

    .target {
        background: rgba(202, 230, 190, 0.75);
        border: 1px solid #B7D1A0;
        border-radius: 4px;
        display: block;
        width: 100%;
        text-align: center;
        color: #468847;
        cursor: pointer;
        display: inline-block;
        font-size: 24px;
        padding: 28px 48px;
        text-shadow: 0 1px rgba(255, 255, 255, 0.5);
        transition: background-color 0.25s, width 0.5s, height 0.5s;
    }
    .target:hover,
    .target:active,
    .target:focus,
    .target {
        background-color: rgb(188, 228, 170);
        text-decoration: none;
    }
}

#qrcode {
    text-align: center;
    margin: 5px 0;

    img {
        display: inline !important;
    }
}

@media screen and (max-width: 490px) {
    .moe {
        display: none;
    }

    nav {
        position: static;
    }
}
